@font-face {
    font-family: "SMItalic";
    src: url('media/type/smitalic.otf');
    src: url('media/type/smitalic.eot?') format('eot'),
         url('media/type/smitalic.otf') format('opentype'), 
         url('media/type/smitalic.woff') format('woff'), 
         url('media/type/smitalic.woff2') format('woff2'), 
         url('media/type/smitalic.ttf')  format('truetype'),
         url('media/type/smitalic.svg') format('svg');
    font-style: normal;  
  }

@font-face {
    font-family: "SIntl";
    src: url('media/type/sibolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "SIntl";
    src: url('media/type/siitalic.otf') format('opentype');
    font-style: italic, oblique;
}

@font-face {
    font-family: "SIntl";
    src: url('media/type/sibold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "SIntl";
    src: url('media/type/siregular.otf') format('opentype');
    font-style: normal;
  }

body {
    background-color: #fff;
    overflow-x: hidden;
    font-family: "SIntl";
    font-size: 0.8em;
}

#container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

.subtitle {
  font-family: "SMItalic" !important;
  color: #666666;
  font-size: 1.25rem;
  padding: 5px 0;
}

.logo {
  padding-top: 5px;
}

p, ul, ol, a {
    color: #333333;
    font-family: "SIntl", "Helvetica";
    padding: 0 10px;
}

ul, ol {
  padding: 0 25px;
}

* ul a, ol a, p a {
  padding: 0;
}

p.small {
  font-variant-caps: all-petite-caps;
  font-size: 1rem;
}

.smlinks {
    padding: 10px 0;
}

#smlinks {
    padding-right: 5px;
}

.smlinks a {
  padding: 0;
}

* a {
  font-size: 1rem;
  font-variant-caps: all-petite-caps;
}

* a:link {
    color: #333333;
}
  
* a:visited {
    color: #333333;
}
  
* a:hover {
    color: #666666;
    cursor: crosshair;
}
  
* a:active {
    color: #666666;
    cursor: crosshair;
}

img#date {
  max-width: 75px;
  height: *;
}

.header, .timestamp {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.timestamp {
  max-width: 35px;
  text-align: center;
  margin-top: -55px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.bookmark {
  font-family: 'SIntl','Helvetica';
  padding: 15px;
  color: #333333;
  font-variant-caps: all-petite-caps;
  font-size: 1rem;
}

.bookmark:hover {
  margin-left: 0.5rem;
  cursor: crosshair;
  font-weight: bold;
  columns: #666666;
}

.section {
  height: 100%;
  background: #fff;
}

.section.open {
  flex-grow: 1;
}

.section.show {
  display: block;
  vertical-align: middle;
}

.section.hide .content * {
  display: none;
}

.section.open .content {
  height: 100%;
  margin-left: 2rem;
  text-align: left;
  border-left: 0.5px solid black;
}

.section.open .content p {
  display: block;
}

.content {
  display: flex;
  vertical-align: middle;
}

.content img {
  max-width: 300px;
  height: auto;
  padding-left: 10px;
  /* padding-top: 10px; */
}

#clock {
  font-family: "SMItalic";
}
